h1 {
  font-weight: 900;
  font-size: 2.6rem;
  margin-left: 15%;
  margin-bottom: 30px;
  margin-top: 20px;
}

.getaway-msg {
  margin-left: 15%;
  margin-bottom: 15px;
}

.btn {
    margin-left: 15%;
    min-height: 37vh;
}